*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

gamemaps/
mazedata/
snapshots/
testresults/
testresults_*
originalbenchmarks/
pyscripts/output.txt

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin 
.target

# TeXlipse plugin
.texlipse

testdata/
pyscripts/output.txt

*.class

.idea/
AnyAnglePathfinding.iml

